{%- comment -%}
/* ============================================================================
 * Button                                                                     #
 * ========================================================================== */
 *
 * A component for buttons.
 *
 * @param {string} label
 * @param {string} button_url
 */
{%- endcomment -%}

{% if label != blank %}
	<a class="c-button" href="{{ url }}">
		{% if label %}
			<span class="c-button__label">
				{{ label }}
			</span>
		{% endif %}
	</a>
{% endif %}
