{%- comment -%}
/* ============================================================================
 * Console Log                                                                #
 * ========================================================================== */
 *
 * A component for card-simple.
 *
 * Accepts:
 * - variable: {Any} The variable to console-log.
 *
 * Usage:
 * - {%- render 'console-log', variable: [variable] -%}
 */
{%- endcomment -%}

{%- if variable != blank -%}
	<script>
		console.log({{ variable | json }});
	</script>
{%- endif -%}
