{%- comment -%}
/* ============================================================================
 * Cookie Notice                                                              #
 * ========================================================================== */
 *
 * A component for cookie-notice.
 */
{%- endcomment -%}

{%- if settings.cookie_notice_enabled -%}
	<div class="c-cookie-notice js-cookie-notice">
		<div class="c-cookie-notice__inner">

			{%- if settings.cookie_notice != blank -%}
				<div class="c-cookie-notice__message">
					{{ settings.cookie_notice }}
				</div>
			{%- endif -%}

			<div class="c-cookie-notice__buttons">
				<div class="c-cookie-notice__buttons-inner">

					<button class="c-cookie-notice__button js-cookie-notice-button js-cookie-notice-all" type="button">
						{{ 'general.cookie_notice.accept' | t }}
					</button>

					<button class="c-cookie-notice__button js-cookie-notice-button js-cookie-notice-only-neccessary" type="button">
						{{ 'general.cookie_notice.only_neccessary' | t }}
					</button>

				</div>
			</div>

		</div>
	</div>
{%- endif -%}
