{%- comment -%}
/* ============================================================================
 * Site Footer                                                                #
 * ========================================================================== */
 *
 * A layout-element for site-footer.
 */
{%- endcomment -%}

<footer class="l-site-footer js-scrollspy" data-animation-name="fade-in">
	<div class="l-site-footer__inner">


		<div class="l-site-footer__col l-site-footer__col--nav l-site-footer__col--nav-first js-scrollspy" data-animation-name="fade-in">

			{%- assign footer_linklist = settings.footer_linklist -%}
			{% if linklists[footer_linklist].links.size > 0 %}

				<h3 class="c-footer-title">{{ linklists[footer_linklist].title }}</h3>

				<ul class="c-menu-footer">
					{% for link in linklists[footer_linklist].links %}
						<li class="c-menu-footer__item"><a href="{{ link.url }}" class="c-menu-footer__link">{{ link.title }}</a></li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>

		<div class="l-site-footer__col l-site-footer__col--nav l-site-footer__col--nav-second js-scrollspy" data-animation-name="fade-in">

			{%- assign footer_linklist_2 = settings.footer_linklist_2 -%}
			{% if linklists[footer_linklist_2].links.size > 0 %}
				<h3 class="c-footer-title">{{ linklists[footer_linklist_2].title }}</h3>

				<ul class="c-menu-footer">
					{% for link in linklists[footer_linklist_2].links %}
						<li class="c-menu-footer__item"><a href="{{ link.url }}" class="c-menu-footer__link">{{ link.title }}</a></li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>

		<div class="l-site-footer__col l-site-footer__col--newsletter js-scrollspy" data-animation-name="fade-in">
			<h3 class="c-footer-title">{{ settings.footer_newsletter_title | escape }}</h3>

			{% include 'newsletter-form' %}

			{% include 'social' with class: 'c-social--compact' %}

		</div>


		<div class="l-site-footer__col l-site-footer__col--copyright js-scrollspy" data-animation-name="fade-in">

			<div class="c-copyright">
				<a href="{{ routes.root_url }}" class="c-copyright__symbol">
					{% include 'icon-symbol-mono' %}
				</a>

				<p class="c-copyright__text">
					{{ settings.copyright_1 | escape }}<br>
					&copy; {{ 'now' | date: "%Y" }} {{ settings.copyright_2 | escape }}
				</p>
			</div>


		</div>

	</div>
</footer>
