{% if settings.footer_script != blank %}
	{{ settings.footer_script }}
{% endif %}


<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Organization",
	"name": "{{ shop.name }}",
	"sameAs": [
		"{{ settings.social_twitter_link }}",
		"{{ settings.social_facebook_link }}",
		"{{ settings.social_pinterest_link }}",
		"{{ settings.social_instagram_link }}",
		"{{ settings.social_tumblr_link }}",
		"{{ settings.social_snapchat_link }}",
		"{{ settings.social_youtube_link }}",
		"{{ settings.social_vimeo_link }}"
	],
	"url": "{{ shop.url }}{{ page.url }}"
	}
</script>

{% if template.name == 'index' %}
	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "WebSite",
			"name": "{{ shop.name }}",
			"potentialAction": {
				"@type": "SearchAction",
				"target": "{{ shop.url }}/search?q={search_term_string}",
				"query-input": "required name=search_term_string"
			},
			"url": "{{ shop.url }}{{ page.url }}"
		}
	</script>
{% endif %}

