<script>

	{% capture icon_plus %}'{% include 'icon-plus-mono' %}'{% endcapture %}
	{% capture icon_plus_simple %}'{% include 'icon-plus-simple-mono' %}'{% endcapture %}
	{% capture icon_minus %}'{% include 'icon-minus-mono' %}'{% endcapture %}
	{% capture icon_star %}'{% include 'icon-star-mono' %}'{% endcapture %}
	{% capture icon_star_half %}'{% include 'icon-star-half-mono' %}'{% endcapture %}
	{% capture icon_star_empty %}'{% include 'icon-star-empty-mono' %}'{% endcapture %}

	window.theme = {
		strings: {
		addToCart: {{ 'products.product.add_to_cart' | t | json }},
		soldOut: {{ 'products.product.sold_out' | t | json }},
		unavailable: {{ 'products.product.unavailable' | t | json }},
		quantity: {{ 'cart.general.quantity' | t | json }},
		remove: {{ 'cart.general.remove' | t | json }},
		},
		moneyFormat: {{ shop.money_format | json }},
		product: {{ product | json }}
	};

</script>


{% if settings.head_script != blank %}
	{{ settings.head_script }}
{% endif %}

{{ '//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js' | script_tag }}
{{ 'script.js' | asset_url | script_tag }}

<link rel="stylesheet" href="https://use.typekit.net/wrf7xcr.css">
