
<link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon.png' | asset_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon-32x32.png' | asset_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon-16x16.png' | asset_url }}">
<!-- <link rel="manifest" href="{{ 'site.webmanifest' | asset_url }}"> -->
<link rel="mask-icon" href="{{ 'safari-pinned-tab.svg' | asset_url }}" color="#000000">
<link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}">
<meta name="msapplication-TileColor" content="#000000">
<meta name="theme-color" content="#ffffff">
