{%- comment -%}
/* ============================================================================
 * Site Header                                                                #
 * ========================================================================== */
 *
 * A layout-element for site-header.
 */
{%- endcomment -%}

<header class="l-site-header" id="header">
	<div class="l-site-header__inner">

		<div class="l-site-header__logo">
			<a href="{{ routes.root_url }}" class="c-logo">Logo update with Buddy works: 15:34</a>
		</div>


		<div class="l-site-header__menu">
			<nav class="c-nav" id="nav">
				<ul class="c-menu">
					{% for link in linklists[settings.menu].links %}
						{% if link.links != blank %}
							<li class="c-menu__item has-dropdown">
								<a href="{{ link.url }}" class="c-menu__item-link">
									{{ link.title }}
								</a>
								<div class="c-menu__dropdown c-dropdown js-dropdown">
									<div class="c-dropdown__grid">

										<div class="c-dropdown__column c-dropdown__column--medium">
											<ul class="c-dropdown__list">
												{% for childlink in link.links %}
													<li class="c-dropdown__item js-dropdown-item" data-page-id="{{ childlink.object.id }}">
														<a href="{{ childlink.url }}" class="c-dropdown__item-link js-dropdown-link">
														{{ childlink.title }}
														</a>
													</li>
												{% endfor %}
											</ul>
										</div>

										<div class="c-dropdown__column c-dropdown__column--small">
											<div class="c-dropdown__content">
												{% for childlink in link.links %}
													{% if childlink.object.metafields.accentuate.description != blank %}
														<h2 class="c-dropdown__title js-dropdown-title {% if forloop.first %}is-visible{% endif %}" data-page-id="{{ childlink.object.id }}">{{ childlink.object.metafields.accentuate.description }}</h2>
													{% endif %}
												{% endfor %}
											</div>
										</div>

									</div>
								</div>
							</li>
						{% else %}
							<li class="c-menu__item">
								<a href="{{ link.url }}" class="c-menu__item-link">
									{{ link.title }}
								</a>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</nav>

			{% if shop.customer_accounts_enabled %}
				{% if customer %}
					<a href="{{ routes.account_url }}" class="c-header-button">{{ 'layout.customer.account' | t }}</a>
				{% else %}
					<a href="{{ routes.account_login_url }}" class="c-header-button">
						{{ 'layout.customer.log_in' | t }}
					</a>
				{% endif %}
			{% endif %}

			<button class="c-menu-button js-modal-btn" data-target="#nav-modal" aria-label="{{ 'layout.menu.open' | t }}" aria-expanded="false" aria-controls="nav-modal">
				{% include 'icon-menu-mono' %}
			</button>

		</div>

	</div>
</header>
