{%- comment -%}
/* ============================================================================
 * Modal (menu)                                                               #
 * ========================================================================== */
 *
 * A component for modal (menu).
 */
{%- endcomment -%}

<div class="c-modal c-modal--nav js-modal" id="nav-modal" role="dialog" aria-label="{{ 'layout.menu.title' | t }}" aria-hidden="true">
	<div class="c-modal__header">

		<div class="c-modal__header-logo">
			<a href="{{ routes.root_url }}" class="c-logo">
				{% include 'icon-wordmark-mono' %}
			</a>
		</div>

		<div class="c-modal__header-button">
			<button class="c-header-button js-modal-btn" data-target="#cart-modal" aria-label="{{ 'layout.menu.open' | t }}" aria-expanded="false" aria-controls="cart-modal">
				<span class="c-header-button-text">{{ 'layout.cart.title' | t }}</span>(<span class="js-cart-count">{{ cart.item_count }}</span>)
			</button>

			<button class="c-menu-button js-modal-btn" data-target="#nav-modal" aria-label="{{ 'layout.menu.close' | t }}" aria-expanded="false" aria-controls="nav-modal">
				{% include 'icon-close-mono' %}
			</button>
		</div>

	</div>

	<div class="c-modal__main">

		<nav class="c-modal__menu">
			<ul class="c-menu-mobile">
				{% for link in linklists[settings.menu_mobile].links %}
					{% if link.links != blank %}
						<li class="c-menu-mobile__item">
							<a href="{{ link.url }}" class="c-menu-mobile__item-link">
								{{ link.title }}
							</a>
							<ul>
								{% for childlink in link.links %}
								<li class="c-menu-mobile__item">
									<a href="{{ childlink.url }}">
									{{ childlink.title }}
									</a>
								</li>
								{% endfor %}
							</ul>
						</li>
					{% else %}
						<li class="c-menu-mobile__item">
							<a href="{{ link.url }}" class="c-menu-mobile__item-link">
								{{ link.title }}
							</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</nav>

	</div>
</div>
