{%- comment -%}
/* ============================================================================
 * Responsive Image                                                           #
 * ========================================================================== */
 *
 * A snippet for responsive-image.
 *
 * Accepts:
 * - image: {Image} The image to render.
 * - image_sizes?: {String} The image sizes. Example: "(min-width: 768px) 50vw, 100vw"
 * - style?: {String} The image styling.
 * - lazyload?: {Boolean} Whether the image should have lazyload or not.
 */
{%- endcomment -%}

{%- if image != blank -%}
	{%- assign img_url = image | img_url: '1900x' -%}

	{%- comment -%}
		Image srcset calculated by default widths
	{%- endcomment -%}
	{%- assign image_widths = '180,360,540,720,900,1080,1296,1512,1728,1944,2160,2376,2592,2808,3024,4472' | split: ',' -%}

	{%- capture image_widths -%}
		{{ image.src | img_url: '180x' }} 180w,
		{{ image.src | img_url: '360x' }} 360w,
		{{ image.src | img_url: '540x' }} 540w,
		{{ image.src | img_url: '720x' }} 720w,
		{{ image.src | img_url: '900x' }} 900w,
		{{ image.src | img_url: '1080x' }} 1080w,
		{{ image.src | img_url: '1296x' }} 1296w,
		{{ image.src | img_url: '1512x' }} 1512w,
		{{ image.src | img_url: '1728x' }} 1728w,
		{{ image.src | img_url: '1944x' }} 1944w,
		{{ image.src | img_url: '2160x' }} 2160w,
		{{ image.src | img_url: '2376x' }} 2376w,
		{{ image.src | img_url: '2592x' }} 2592w,
		{{ image.src | img_url: '2808x' }} 2808w,
		{{ image.src | img_url: '3024x' }} 3024w,
		{{ image.src | img_url: '4472x' }} 4472w
	{%- endcapture -%}

	{%- assign image_widths = image_widths | strip_newlines -%}

	{%- liquid
		if sizes == blank
			assign sizes = '100vw'
		endif
	-%}

	<img class="{{ image_class }}"
		src="{{ image_url }}"
		srcset="{{ image_widths }}"
		sizes="{{ sizes }}"
		alt="{{ image.alt | escape }}"
		{{ image_attributes }}
		{% if style %}style="{{ style }}"{% endif %}
		{% if lazyload %}loading="lazy"{% endif %}
	>
{%- endif -%}
