/*
 * Browsehappy – used for older browsers that doesn't support modern features.
 * Inserted in wp_footer hook
 */

.c-browsehappy {
	background-color: #333;
	color: #fff;
	display: none;
	font-size: 1em;
	left: 0;
	line-height: 1.2;
	margin: 0;
	padding: 0.75em 1.5em;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1000;

	& a {
		color: #fff;
		text-decoration: underline;
	}

	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		/* IE10 & IE11 */
		display: block;
	}

	@supports (-ms-ime-align:auto) and (not (-webkit-mask: url())) {
		/* Edge 17- https://browserstrangeness.github.io/css_hacks.html */
		display: block;
	}
}
