/* ============================================================================
 # Button                                                                     #
============================================================================= */

/**
 * Component for buttons (displayed as a pill).
 * Change font-size, colors and more to match the design.
 * It is typically set on <button>, <a> or <span>
 *
 * @markup
	<element class="c-button [modifier(s)]">
		[text node]
	</element>
 *
 */

/* Setting component variables */
:root {
	--c-button-font-size: var(--font-size-small);
	--c-button-line-height: var(--line-height-small);
	--c-button-padding-top-bottom: calc(var(--c-button-font-size) * 0.5);
	--c-button-padding-right-left: calc(var(--c-button-font-size) * 2);

	/* Adjust this to match line-height and top-bottom padding */
	--c-button-border-radius: calc((var(--c-button-font-size) + var(--line-height-small)) / 2); /* stylelint-disable-line max-line-length */
}

.c-button {
	background-color: var(--color-black);
	border: 1px solid var(--color-black);
	border-radius: var(--c-button-border-radius);
	color: var(--color-white);
	display: inline-flex;
	font-size: var(--c-button-font-size);
	line-height: var(--c-button-line-height);
	padding-bottom: var(--c-button-padding-top-bottom);
	padding-left: var(--c-button-padding-right-left);
	padding-right: var(--c-button-padding-right-left);
	padding-top: var(--c-button-padding-top-bottom);
	transform: scale3d(1, 1, 1);
	transition:
		background-color var(--transition),
		color var(--transition),
		transform var(--transition);
	white-space: nowrap;

	&:hover,
	&:focus {
		background-color: var(--color-white);
		color: var(--color-black);
		text-decoration: none;
	}

	&:disabled,
	&.is-disabled,
	&[aria-disabled="true"] {
		cursor: default;
		opacity: 0.6;
		pointer-events: none;

		&:hover,
		&:focus,
		&:active {
			transform: scale3d(1, 1, 1);
		}
	}
}

.c-button--white {
	background-color: var(--color-white);
	color: var(--color-black);

	&:hover,
	&:focus {
		background-color: var(--color-black);
		color: var(--color-white);
	}
}
