/* =============================================================================
 # Cookie Notice                                                              #
============================================================================= */

/**
 * A component for the Cookie Notice
 */

.c-cookie-notice {
	@mixin container;
	background-color: white;
	bottom: 0;
	box-shadow: var(--drop-shadow);
	display: none;
	opacity: 0;
	position: fixed;
	right: 0;
	touch-action: none;
	visibility: hidden;
	z-index: 10;

	&.is-visible {
		display: block;
		opacity: 1;
		touch-action: auto;
		visibility: visible;
	}
}

.c-cookie-notice__message {
	display: flex;
	flex-direction: column;
	padding-bottom: var(--gap-tiny);
	padding-top: var(--gap-tiny);
	width: 100%;

	@media (--bp-small) {
		flex-direction: row;
	}
}

.c-cookie-notice__close {
	align-self: flex-start;
	flex-shrink: 0;
}

.c-cookie-notice__text {
	padding-bottom: var(--gap-tiny);

	& a {
		text-decoration: underline;
	}

	@media (--bp-small) {
		padding-bottom: 0;
		padding-right: var(--gap);
	}
}
