/* =============================================================================
 # Horizontal Scroll                                                          #
============================================================================= */

/**
 * A component for horizontal-scroll.
 *
 * @markup
	<element class="c-horizontal-scroll js-slider" data-slider-name="slider-name">
		<element class="c-horizontal-scroll__inner js-slider-list">
			<item class="c-horizontal-scroll__item js-slider-item">
				[content]
			</item>
		</element>
	</element>
 *
 */

.c-horizontal-scroll {
	overflow-x: hidden;
	position: relative;
	width: 100%;

	&.js-slider-draggable {
		embed,
		iframe,
		img,
		video {
			pointer-events: none;
		}

		img::selection {
			background: none;
		}
	}
}

.c-horizontal-scroll__inner {
	align-items: flex-start;
	display: flex;
	flex-wrap: nowrap;
	margin-left: calc((var(--gap-grid) / 2) * -1);
	margin-right: calc((var(--gap-grid) / 2) * -1);
	-ms-overflow-style: -ms-autohiding-scrollbar;
	overflow-x: auto;
	overflow-y: hidden;
	padding-left: var(--gap-container);
	padding-top: var(--padding-top);
	scrollbar-width: none;
	transition: all var(--transition);
	width: calc(100% + var(--gap-grid));

	&::-webkit-scrollbar {
		display: none;
	}

	@supports (-webkit-overflow-scrolling: touch) {
		-webkit-overflow-scrolling: touch;
		overflow-x: scroll;
	}

	&::after {
		/* This is needed for margin-right on last item */
		content: "";
		display: block;
		flex: 0 0 auto;
		margin-left: -1px;
		width: 1px;
	}
}

.c-horizontal-scroll__item {
	display: flex;
	flex-basis: auto;
	flex-grow: 0;
	flex-shrink: 0;
	min-width: 12.5rem;
	padding-left: calc(var(--gap-grid) / 2);
	padding-right: calc(var(--gap-grid) / 2);
	width: calc(100vw - (var(--gap-container) * 2)); /* stylelint-disable-line */

	&:last-child {
		margin-right: var(--gap-container);
	}

	--column: 12;
	--columns: calc(12 / var(--column));

	@media (--bp-small) {
		width: calc((100vw - ((var(--gap-container) * 2) + var(--scrollbar-width)) + (var(--gap-grid))) / var(--columns)); /* stylelint-disable-line */
	}
}
