/* =============================================================================
 # Icons                                                                      #
============================================================================= */

/**
 * Class used on svg icons. It is set by webpack automatically.
 * They can be modified with modifiers if that's needed.
 */

.c-icon {
	display: inline-block;
	fill: currentColor;
	height: 1em;

	/**
	 * Sometimes this is needed for icons to align:
	 * transform: translateY(-1px);
	 */
	vertical-align: top;
	width: 1em;

	/* Hide title on hover */
	&[title] {
		pointer-events: none;
	}
}

.c-logo {
	font-size: 1rem;

	.c-icon {
		height: 1em;
		width: auto;
	}
}
