/* =============================================================================
 # Menu                                                                       #
============================================================================= */

/**
 * A component for menu
 */

.c-menu {
	display: none;

	@media (--bp-small) {
		display: flex;
		flex-wrap: wrap;
	}
}

.c-menu__item {
	font-size: var(--font-size-small);
	padding-right: var(--gap-tiny);

	&:last-of-type {
		padding-right: 0;
	}
}

.c-menu-button {
	@media (--bp-small) {
		display: none;
	}
}

/*
.c-menu-mobile {
}
*/

.c-menu-mobile__item {
	padding-bottom: var(--gap-tiny);
}

.c-menu-footer {
	display: flex;
}

.c-menu-footer__item {
	font-size: var(--font-size-small);
	padding-right: var(--gap-tiny);

	&:last-of-type {
		padding-right: 0;
	}
}
