/* =============================================================================
 # Modal                                                                      #
============================================================================= */

/**
 * A component for modals (overlays) e.g. the menu
 */

.c-modal {
	animation-duration: 0.4s;
	animation-timing-function: ease-in-out;
	background-color: white;
	color: black;
	display: flex;
	flex-flow: column;
	height: 100%;
	pointer-events: none;
	position: fixed;
	top: 0;
	transform: translateY(-100%);
	visibility: hidden;
	width: 100%;
	z-index: 5;

	&.is-animating-in {
		animation-delay: 0s;
		animation-name: animate-in-menu;
	}

	&.is-animating-out {
		animation-delay: 0.3s;
		animation-name: animate-out-menu;
	}

	&.is-visible {
		pointer-events: auto;
		transform: translateY(0);
		visibility: visible;
	}

	@supports ( -webkit-overflow-scrolling: touch ) {
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
	}
}

.c-modal__header {
	@mixin container;
	align-items: center;
	display: flex;
	padding-bottom: var(--gap-small);
	padding-top: var(--gap-small);

	.admin-bar & {
		margin-top: var(--admin-bar);
	}
}

/*
.c-modal__header-logo {

}
*/

.c-modal__header-menu-button {
	margin-left: auto;

	@media (--bp-small) {
		display: none;
	}
}

.c-modal__main {
	@mixin container;

	padding-bottom: var(--gap--tiny);
	padding-top: var(--gap-large);
}

/*
.c-modal__menu {

}
*/
