/* =============================================================================
 # Social                                                                     #
============================================================================= */

.c-social {
	display: flex;
	padding-bottom: var(--gap);
}

.c-social__item {
	padding-right: var(--gap-tiny);

	&:last-of-type {
		padding-right: 0;
	}
}
