/* =============================================================================
 # Accessibility                                                              #
============================================================================= */

/* Text meant only for screen readers. */
.h-sr-only {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;

	/**
	 * Many screen reader and browser combinations announce broken words
	 * as they would appear visually.
	 */
	word-wrap: normal !important;

	&:focus {
		/* background-color: var(--color-primary);
		clip: auto !important;
		clip-path: none;
		color: var(--color-white);
		display: block;
		font-size: var(--font-size-1);
		font-weight: 700;
		height: auto;
		left: var(--spacing-unit-2x);
		padding: var(--spacing-unit-2x) var(--spacing-unit-3x);
		text-decoration: none;
		top: var(--spacing-unit-2x);
		width: auto; */

		/* Above WP toolbar. */
		z-index: 100000;
	}
}

/* Remove focus outlines when using mouse. */
.using-mouse {
	& a[href]:focus,
	& area[href]:focus,
	& input:not([disabled]):focus,
	& select:not([disabled]):focus,
	& textarea:not([disabled]):focus,
	& button:not([disabled]):focus,
	& [tabindex]:focus {
		outline: none;
	}
}

/* Add focus outlines when using keyboard. */
.using-keyboard {
	& a[href]:focus,
	& area[href]:focus,
	& input:not([disabled]):focus,
	& select:not([disabled]):focus,
	& textarea:not([disabled]):focus,
	& button:not([disabled]):focus,
	& [tabindex]:focus {
		outline: 1px solid #000;
	}
}
