/* =============================================================================
 # Animations                                                                 #
============================================================================= */

/*
 * Animation types and animation @keyframes shall be added here.
 */

/*
 # On Load
============================================================================= */

[data-animation-name="fade-in-on-load"] {
	opacity: 0;
	transition: opacity var(--animation-slow);

	.has-loaded &,
	.acf-block-preview & {
		opacity: 1;
	}
}

[data-animation-name="fade-in-up-on-load"] {
	opacity: 0;
	transform: translate3d(0, 4rem, 0);
	transition: opacity var(--animation-slow), transform var(--animation-slow);

	.has-loaded &,
	.acf-block-preview & {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

/*
 # When Ready
============================================================================= */

[data-animation-name="fade-in-when-ready"] {
	opacity: 0;
	transition: opacity var(--animation-slow);

	.is-ready &,
	.acf-block-preview & {
		opacity: 1;
	}
}

[data-animation-name="fade-in-up-when-ready"] {
	opacity: 0;
	transform: translate3d(0, 4rem, 0);
	transition: opacity var(--animation-slow), transform var(--animation-slow);

	.is-ready &,
	.acf-block-preview & {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

[data-animation-name="slide-in-when-ready"] {
	opacity: 0;
	transform: translate3d(-4rem, 0, 0);
	transition: opacity var(--animation-slow), transform var(--animation-slow);

	.is-ready &,
	.acf-block-preview & {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

[data-animation-name="header"] {
	opacity: 0;
	transform: translate3d(0, -4rem, 0);
	transition: opacity var(--animation-slow), transform var(--animation-slow);

	.is-ready &,
	.acf-block-preview & {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

/*
 # On Scroll
============================================================================= */

[data-animation-name="fade-in"] {
	opacity: 0;
	transition: opacity var(--animation-slow);

	.was-in-view &,
	&.was-in-view,
	.acf-block-preview & {
		opacity: 1;
	}
}

[data-animation-name="fade-in-up"] {
	opacity: 0;
	transform: translate3d(0, 4rem, 0);
	transition: opacity var(--animation-slow), transform var(--animation-slow);

	.was-in-view &,
	&.was-in-view,
	.acf-block-preview & {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

[data-animation-name="slide-in"] {
	opacity: 0;
	transform: translate3d(-2rem, 0, 0);
	transition: opacity var(--animation-slow), transform var(--animation-slow);

	.was-in-view &,
	&.was-in-view,
	.acf-block-preview & {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

[data-animation-name] {
	/* Disable transitions for users prefers reduced motion */
	@media (prefers-reduced-motion) {
		transition: none;
	}
}

/*
 # Delays
============================================================================= */

[data-animation-delay="1"] {
	transition-delay: calc(var(--animation-delay) * 1);
}

[data-animation-delay="2"] {
	transition-delay: calc(var(--animation-delay) * 2);
}

[data-animation-delay="3"] {
	transition-delay: calc(var(--animation-delay) * 3);
}

[data-animation-delay="4"] {
	transition-delay: calc(var(--animation-delay) * 4);
}

[data-animation-delay="5"] {
	transition-delay: calc(var(--animation-delay) * 5);
}

[data-animation-delay="6"] {
	transition-delay: calc(var(--animation-delay) * 6);
}

[data-animation-delay="7"] {
	transition-delay: calc(var(--animation-delay) * 7);
}

[data-animation-delay="8"] {
	transition-delay: calc(var(--animation-delay) * 8);
}

[data-animation-delay="9"] {
	transition-delay: calc(var(--animation-delay) * 9);
}

[data-animation-delay="10"] {
	transition-delay: calc(var(--animation-delay) * 10);
}
