/* =============================================================================
 # Aspect Ratio                                                               #
============================================================================= */

.has-aspect-ratio {
	/* 16:9 default */
	@mixin aspect-ratio;
	@mixin aspect-ratio-object;
}

.has-aspect-ratio--21-9 {
	/* 42.8% Ultrawide screen */
	@mixin aspect-ratio-modifier 21, 9;
}

.has-aspect-ratio--2-1 {
	/* 50% */
	@mixin aspect-ratio-modifier 2, 1;
}

.has-aspect-ratio--16-9 {
	/* 56.25%  16:9 default */
}

.has-aspect-ratio--3-2 {
	/* 66.67% */
	@mixin aspect-ratio-modifier 3, 2;
}

.has-aspect-ratio--4-3 {
	/* 75% */
	@mixin aspect-ratio-modifier 4, 3;
}

.has-aspect-ratio--5-4 {
	/* 80% */
	@mixin aspect-ratio-modifier 5, 4;
}

.has-aspect-ratio--1-1 {
	/* 100% */
	@mixin aspect-ratio-modifier 1, 1;
}

.has-aspect-ratio--4-5 {
	/* 125% */
	@mixin aspect-ratio-modifier 4, 5;
}

.has-aspect-ratio--3-4 {
	/* 133% */
	@mixin aspect-ratio-modifier 3, 4;
}

.has-aspect-ratio--2-3 {
	/* 150% */
	@mixin aspect-ratio-modifier 2, 3;
}

.has-aspect-ratio--5-9 {
	/* 180% */
	@mixin aspect-ratio-modifier 5, 9;
}

.has-aspect-ratio--1-2 {
	/* 200% */
	@mixin aspect-ratio-modifier 1, 2;
}
