/**
 * Animation keyframes
 *
 */

@keyframes animate-in-menu {
	from {
		transform: translateY(-100%);
		visibility: hidden;
	}

	to {
		transform: translateY(0);
		visibility: visible;
	}
}

@keyframes animate-out-menu {
	from {
		transform: translateY(0);
		visibility: visible;
	}

	to {
		transform: translateY(-100%);
		visibility: hidden;
	}
}
