/* =============================================================================
 # OEmbed                                                                     #
============================================================================= */

/**
 * Easy responsive embeds
 *
 * Use class "h-oembed" on container around the embed/iframe/object
 */

.h-oembed {
	height: auto;
	max-width: 100%;
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;

	& iframe,
	& object,
	& embed {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}
