/* =============================================================================
 # Fonts                                                                      #
============================================================================= */

/**
 * This file is used for web fonts (@font-face).
 */

@font-face {
	font-display: swap;
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: 500;
	src:
		local('Circular Std Medium'),
		local('CircularStd-Medium'),
		url('../fonts/hinted-CircularStd-Medium.woff2') format('woff2'),
		url('../fonts/hinted-CircularStd-Medium.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: normal;
	src:
		local('Circular Std Book'),
		local('CircularStd-Book'),
		url('../fonts/hinted-CircularStd-Book.woff2') format('woff2'),
		url('../fonts/hinted-CircularStd-Book.woff') format('woff');
}
