/* =============================================================================
 # Global Settings                                                            #
============================================================================= */

:root {
	/* stylelint-disable */
	/**
	 * Baseline should always follow an 8pt or 4pt grid (if not an extreme
	 * design). E.g. .25rem or .5rem
	 *
	 * @credit https://builttoadapt.io/intro-to-the-8-point-grid-system-d2573cde8632
	 */
	/* stylelint-enable */
	--baseline-unit: 0.25rem;

	/**
	 * Gap is used in grid layouts and margins/paddings around elements
	 */
	--gap-micro: calc(var(--baseline-unit) * 2);
	--gap-tiny: calc(var(--baseline-unit) * 4);
	--gap-small: calc(var(--baseline-unit) * 6);
	--gap: calc(var(--baseline-unit) * 8);
	--gap-medium: calc(var(--baseline-unit) * 8);
	--gap-large: calc(var(--baseline-unit) * 16);
	--gap-huge: calc(var(--baseline-unit) * 32);

	/**
	 * Special gaps
	 */

	/* Grid gap: Gap between grid columns in flexbox grid */
	--gap-grid: 0.5rem;

	/* Container gap: used for left and right padding on the site main container */
	--gap-container: 0.5rem;

	@media (--bp-small) {
		--gap-grid: 1rem;
		--gap-container: 1rem;
	}

	@media (--bp-xlarge) {
		--gap-grid: 1.25rem;
		--gap-container: 1.25rem;
	}

	/**
	 * Max Widths
	 *
	 * Naming: narrow, wide, full
	 */
	--l-max-width-narrow: 720px;
	--l-max-width-wide: 1440px;
	--l-max-width-full: none; /* 2560px; */

	/**
	 * Adminbar
	 *
	 * Used to add offset for admin-bar to elements such as site-header.
	 */
	--admin-bar: 32px;

	@media (--wp-medium-max) {
		--admin-bar: 46px;
	}

	/**
	 * Scrollbar
	 *
	 * Used for sliders to make sure it works with every scrollbar-setting.
	 */
	--scrollbar-width: 0.001px;

	/**
	 * Variables for easy access of fonts
	 * Fonts are imported using @font-face in typography.scss
	 */
	--font-heading: "Circular Std", "Helvetica Neue", helvetica, arial, sans-serif;
	--font-body: "Circular Std", "Helvetica Neue", helvetica, arial, sans-serif;

	/**
	 * Base Font Size
	 *
	 * Match this variable with the base-font size in the design.
	 * Note: Don't include pixels (16 instead of 16px).
	 */
	--base-font-size: 16;

	/**
	 * Font sizes always expressed in rems!
	 *
	 * Naming: micro, tiny, small, medium (base), large, huge, mega
	 */
	--font-size-tiny: calc((14 / var(--base-font-size)) * 1rem);
	--font-size-small: calc((16 / var(--base-font-size)) * 1rem);
	--font-size-medium: calc((18 / var(--base-font-size)) * 1rem);
	--font-size-large: calc((30 / var(--base-font-size)) * 1rem);
	--font-size-huge: calc((52 / var(--base-font-size)) * 1rem);

	/**
	 * Line heights shall match their respective font-size and always
	 * be calculated using the baseline-unit
	 */
	--line-height-tiny: calc(var(--baseline-unit) * 4);
	--line-height-small: calc(var(--baseline-unit) * 6);
	--line-height-medium: calc(var(--baseline-unit) * 7);
	--line-height-large: calc(var(--baseline-unit) * 8);
	--line-height-huge: calc(var(--baseline-unit) * 9);

	/* Transitions */
	--transition: 0.4s cubic-bezier(0.36, 0.64, 0.23, 0.94);
	--transition-slow: 0.8s cubic-bezier(0.36, 0.64, 0.23, 0.94);
	--transition-quick: 0.1s ease-in-out;

	/* Animations */
	--animation: 0.3s ease-in-out;
	--animation-slow: 0.65s ease-in-out;
	--animation-quick: 0.15s ease-in-out;

	/* Animation delay */
	--animation-delay: 0.15s;

	/* Drop shadows */
	--drop-shadow-small: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
	--drop-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.2);
	--drop-shadow-large: 0 5px 60px 0 rgba(0, 0, 0, 0.15);

	/* Radius – Example! */
	--radius: 2px;
}
