/* =============================================================================
 # Media Queries                                                              #
============================================================================= */

/*
 # Breakpoints
============================================================================= */

@custom-media --bp-xmicro ( min-width: 320px );
@custom-media --bp-micro ( min-width: 360px );
@custom-media --bp-tiny ( min-width: 576px );
@custom-media --bp-small ( min-width: 768px );
@custom-media --bp-medium ( min-width: 992px );
@custom-media --bp-large ( min-width: 1280px );
@custom-media --bp-xlarge ( min-width: 1440px );
@custom-media --bp-xxlarge ( min-width: 1680px );
@custom-media --bp-huge ( min-width: 1920px );
@custom-media --bp-mega ( min-width: 2560px );

/*
 # WP Core Breakpoints (used for the admin bar for example)
============================================================================= */

@custom-media --wp-small ( min-width: 600px );
@custom-media --wp-medium-max (max-width: 782px);
