/* =============================================================================
 # Typography                                                                 #
============================================================================= */

/**
 * This file is for fluid font sizing and some standard font styling.
 */

/**
 * Fluid typography. This makes it possible to build sites for infinite large
 * screens (almost ;-) )
 *
 * We are practically doing this calculation:
font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));

 *
 * @credit https://www.smashingmagazine.com/2016/05/fluid-typography/
 * @credit https://css-tricks.com/snippets/css/fluid-typography/
 */
:root {
	--r-min-font: 14px;
	--r-max-font: 16px;
	--r-max-font-no-px: 16;
	--r-font-diff: 2; /* calc(var(--r-max-font) - var(--r-min-font)) without px value */
	--r-min-breakpoint: 576px;
	--r-max-breakpoint: 1680px;
	--r-max-breakpoint-no-px: 1680;
	--r-breakpoint-diff: 1104; /* calc(var(--r-max-breakpoint) - var(--r-min-breakpoint)) without px value */

	/* Setting min font size */
	font-size: var(--r-min-font); /* stylelint-disable-line */

	@media (--bp-micro) {
		font-size: calc(var(--r-min-font) + var(--r-font-diff) * (100vw - var(--r-min-breakpoint)) / var(--r-breakpoint-diff)); /* stylelint-disable-line */
	}

	@media (--bp-xxlarge) {
		font-size: calc(var(--r-max-font-no-px) / var(--r-max-breakpoint-no-px) * 100vw); /* stylelint-disable-line */
	}
}

/**
 * Standard font element styling. Variables are set in _settings.scss
 */
body {
	font-family: var(--font-body);

	/* Designers always want the font smoothing stuff! */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading);
}
