/* =============================================================================
 # Site Footer                                                                #
============================================================================= */

.l-site-footer {
	@mixin container;
	margin-top: 50vh;

	@media (--bp-small) {
		padding-left: var(--gap-small);
		padding-right: var(--gap-small);
	}
}

.l-site-footer__inner {
	max-width: 35rem;
	padding-bottom: var(--gap-large);
	padding-top: var(--gap-large);
}

.l-site-footer__title {
	flex-basis: 100%;
	font-size: var(--font-size-large);
	line-height: var(--line-height-large);
	padding-bottom: var(--gap-medium);
}
