/* =============================================================================
 # Site Header                                                                #
============================================================================= */

.l-site-header {
	@mixin container;
	background-color: pink;
	box-shadow: var(--drop-shadow);
	padding-bottom: var(--gap-small);
	padding-top: var(--gap-small);
	position: fixed;
	top: 0;
	z-index: 4;

	.admin-bar & {
		margin-top: var(--admin-bar);
	}
}

.l-site-header__inner {
	align-items: center;
	display: flex;
}

.l-site-header__menu {
	display: none;

	@media (--bp-small) {
		display: block;
		margin-left: auto;
	}
}

.l-site-header__menu-button {
	margin-left: auto;

	@media (--bp-small) {
		display: none;
	}
}
