<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="canonical" href="{{ canonical_url }}">
		<meta name="format-detection" content="telephone=no">
		<script>
			(function(d){d.className = d.className.replace(/\bno-js\b/,'js')})(document.documentElement);
		</script>
		<script src="//www.youtube.com/player_api"></script>
		{% include 'head-seo-meta-tags' %}

		{{ 'style.css' | asset_url | stylesheet_tag }}
		{% include 'head-scripts' %}
		{% include 'head-social-meta-tags' %}
		{% include 'head-favicons' %}

		{{ content_for_header }}
	</head>

	<body id="{{ page_title | handle }}" class="p-{{ page_title | handle }} {% if template.name != nil %}p-template-{{ template.name | handle }}{% endif %} {% if template.suffix != nil %}p-template-{{ template.name | handle }}-{{ template.suffix | handle }}{% endif %}">
		{% if settings.after_body_script != blank %}
			{{ settings.after_body_script }}
		{% endif %}

		<a class="h-sr-only skip-link" href="#main">{{ 'general.accessibility.skip_to_content' | t }}</a>

		{% include 'header' %}

		<main id="main" class="l-main">
			{{ content_for_layout }}
		</main>

		{% include 'footer' %}
		{% include 'cookie-notice' %}
		{% include 'modal-menu' %}
		{% include 'footer-browsehappy' %}
		{% include 'footer-scripts' %}
	</body>
</html>
