/* =============================================================================
 # Mixins - Typography                                                        #
============================================================================= */

/**
 * Add typography 'Very simple' support.
 *
 * @css
 	.typography-very-simple-class {
 		@mixin typography-very-simple;
 	}
 *
 * @markup
	<element class="typography-very-simple-class">
		<p/a/strong>
	</element>
 *
 */

@define-mixin typography-very-simple {
	p {
		padding-bottom: var(--gap-small);

		&:last-child {
			padding-bottom: 0;
		}
	}

	strong {
		font-weight: bold;
	}

	a {
		text-decoration: underline;

		&:hover,
		&:focus {
			opacity: 0.6;
			text-decoration: none;
		}
	}
}

/**
 * Add typography 'Full' support.
 *
 * @css
 	.typography-full-class {
 		@mixin typography-full;
 	}
 *
 * @markup
	<element class="typography-full-class">
		<h1/p/ul/...>
	</element>
 *
 */

@define-mixin typography-full {
	@mixin font-size-tiny;

	a {
		text-decoration: underline;

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}

	strong {
		font-weight: 500;
	}

	em {
		font-style: italic;
	}

	del {
		text-decoration: line-through;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		padding-bottom: var(--gap-tiny);
		padding-top: var(--gap-tiny);

		&:first-child {
			padding-top: 0;
		}

		&:last-child {
			padding-bottom: 0;
		}
	}

	h1,
	h2 {
		@mixin font-size-large;
	}

	h3 {
		@mixin font-size-medium;
	}

	h4,
	h5,
	h6 {
		@mixin font-size-small;
	}

	hr + {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			padding-top: var(--gap-micro);
		}
	}

	p,
	ul,
	ol,
	table,
	figure {
		padding-bottom: var(--gap);

		&:last-child {
			padding-bottom: 0;
		}
	}

	pre {
		font-family: monospace;
		margin-bottom: var(--gap-tiny);
		overflow: auto;
		padding-bottom: var(--gap-tiny);

		@supports ( -webkit-overflow-scrolling: touch ) {
			overflow: scroll;
			-webkit-overflow-scrolling: touch;
		}
	}

	hr {
		background-color: var(--color-text);
		border: 0;
		height: 1px;
		margin-bottom: var(--gap);
		margin-top: 0;
		opacity: 0.15;
		padding: 0;
	}

	blockquote {
		@mixin font-size-medium;
		margin-bottom: var(--gap);
		padding-left: var(--gap);
		position: relative;

		p:last-child {
			padding-bottom: 0;
		}

		&::before {
			background-color: var(--color-text);
			bottom: calc((5 / 16) * 1em);
			content: '';
			left: 0;
			position: absolute;
			top: calc((4 / 16) * 1em);
			width: 0.3125rem;
		}

		cite {
			@mixin font-size-small;
			display: block;

			&::before {
				content: "\2014";
				display: inline-block;
				margin-right: 1em;
			}
		}
	}

	ul,
	ol {
		> ul,
		> ol {
			margin-bottom: 0;
		}
		list-style: inside;

		li {
			padding-bottom: 0.1375em;
			position: relative;

			> ul,
			> ol {
				padding-bottom: 0;
				padding-left: 2em;
				padding-top: var(--gap-micro);

				li:last-of-type {
					padding-bottom: 0;
				}
			}
		}
	}

	ul {
		li {
			list-style-type: disc;
		}
	}

	ol {
		counter-reset: ol;

		li {
			list-style-type: decimal;
		}
	}

	figure {
		max-width: 100%;
		width: 100%;

		a {
			display: block;
		}
	}

	figcaption {
		margin-top: var(--gap-micro);

		img {
			margin-top: 0;
		}
	}

	img {
		display: block;
		height: auto;
		margin-bottom: var(--gap);
		margin-top: var(--gap-micro);
		width: 100%;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.table-wrapper {
		max-width: 100%;
		overflow-x: scroll;
	}

	table,
	.acf-preview & .table-wrapper table {
		border-spacing: 0;

		th,
		td {
			border-bottom: 1px solid var(--color-text);
			font-weight: inherit;
			padding-bottom: var(--gap-tiny);
			padding-top: var(--gap-tiny);
			text-align: left;
			vertical-align: baseline;

			&:not(:first-child) {
				padding-left: var(--gap-tiny);
			}
		}

		th {
			line-height: 1.1375;
		}
	}
}

/**
 * Typography-offset can be used to align
 * texts in different sizes with eachother.
 */
@define-mixin typography-offset $count: 2, $value: -1em {
	margin-top: calc(($count / var(--r-max-font)) * $value);
}
