/* =============================================================================
 # Mixins                                                                     #
============================================================================= */

/* Wrap outer containers (width, padding, center) */
@define-mixin container {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--l-max-width-full);
	padding-left: var(--gap-container);
	padding-right: var(--gap-container);
	width: 100%;
}

@define-mixin container-wide {
	@mixin container;

	max-width: var(--l-max-width-wide);
}

@define-mixin container-narrow {
	@mixin container;

	max-width: var(--l-max-width-narrow);
}

/* Can be used for sections on pages, e.g. standard paddings for blocks. */
@define-mixin section {
	padding-bottom: var(--gap-medium);
	padding-top: var(--gap-medium);

	@media (--bp-small) {
		padding-bottom: var(--gap-large);
		padding-top: var(--gap-large);
	}
}

/**
 * Grid mixins
 *
 * @css
 	.grid-class {
 		@mixin flex-grid $align, $justify;
 	}
 	.col-class {
 		@mixin flex-column $col, $cols;
 		@mixin flex-column-offset $offset, $cols;
 	}
 *
 * @markup
	<element class="grid-class">
		<element class="col-class">
			[text node]
		</element>
	</element>
 *
 */

/**
 * Flex grid mixin can be used to create a flexbox grid rapidly
 */
@define-mixin flex-grid $align: flex-start, $justify: flex-start {
	align-items: $align;
	display: flex;
	flex-wrap: wrap;
	justify-content: $justify;
	margin-left: calc(var(--gap-grid) / 2 * -1);
	margin-right: calc(var(--gap-grid) / 2 * -1);
	width: calc(100% + var(--gap-grid));
}

/**
 * Use the flex-column mixin together with the flex-grid mixin to build your
 * flexbox grid systems
 */
@define-mixin flex-column $col: 12, $cols: 12 {
	flex-basis: calc(( 100 / ( $cols / $col ) ) * 1%);
	flex-grow: 0;
	max-width: calc(( 100 / ($cols / $col ) ) * 1%);
	padding-left: calc(var(--gap-grid) / 2);
	padding-right: calc(var(--gap-grid) / 2);
}

/**
 * Use the flex-column-offset mixin together with the flex-column mixin to
 * create offsets (extra margin) in the grid.
 *
 * Please observe. margin-left/-right: auto can also
 * be used outside this mixins.
 */
@define-mixin flex-column-offset $offset: 0, $cols: 12 {
	margin-left: calc((100 / ($cols / $offset)) * 1%);
}
