
/**
 * Maintain aspect ratio
 *
 * @css
 	.aspect-ratio-wrapper-class {
 		@mixin aspect-ratio $width, $height;
		@mixin aspect-ratio-object $object-fit, $object-position;
 	}
 *
 * @markup
	<element class="aspect-ratio-wrapper-class">
		<embed/iframe/img/video>
	</element>
 *
 */

@define-mixin aspect-ratio $width: 16, $height: 9 {
	height: 0;
	overflow: hidden;
	padding-top: calc(($height / $width) * 100%);
	position: relative;
}

/**
 * Use for modifiers of aspect ratio, only changing the aspect ratio
 */
@define-mixin aspect-ratio-modifier $width: 16, $height: 9 {
	padding-top: calc(($height / $width) * 100%);
}

/**
 * Set object-fit on inner object (embed, iframe, img or video)
 *
 * possible $object-fit values:
 * https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit
 *
 * possible $object-position values:
 * https://developer.mozilla.org/en-US/docs/Web/CSS/object-position
 *
 */

@define-mixin aspect-ratio-object $object-fit: cover, $object-position: center {
	embed,
	iframe,
	img,
	video {
		height: 100%;
		left: 0;
		object-fit: $object-fit;
		object-position: $object-position;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

/**
 * Dynamic aspect ratio. Safe tecnique if content is higher than aspect ratio
 * height.
 *
 * @link https://css-tricks.com/aspect-ratio-boxes/#the-psuedo-element-tactic
 *
 * @css
 	.aspect-ratio-wrapper-class {
 		@mixin aspect-ratio-dynamic $width, $height;
		@mixin aspect-ratio-object $object-fit, $object-position;
 	}
 *
 * @markup
	<element class="aspect-ratio-wrapper-class">
		<embed/iframe/img/video>
	</element>
 *
 */
@define-mixin aspect-ratio-dynamic $width: 16, $height: 9 {
	position: relative;

	&::before {
		content: "";
		float: left;
		height: 0;
		margin-left: -1px;
		padding-top: calc(($height / $width) * 100%);
		width: 1px;
	}

	&::after { /* to clear float */
		clear: both;
		content: "";
		display: table;
	}
}

@define-mixin aspect-ratio-dynamic-modifier $width: 16, $height: 9 {
	&::before {
		padding-top: calc(($height / $width) * 100%);
	}
}
