/* =============================================================================
 # Mixins - Font Size                                                         #
============================================================================= */

/**
 * Mixins for font-sizes.
 */

@define-mixin font-size-tiny $line-height: var(--line-height-tiny) {
	font-family: var(--font-body);
	font-size: var(--font-size-tiny);
	line-height: $line-height;
}

@define-mixin font-size-small $line-height: var(--line-height-small) {
	font-family: var(--font-body);
	font-size: var(--font-size-small);
	line-height: $line-height;
}

@define-mixin font-size-medium $line-height: var(--line-height-medium) {
	font-family: var(--font-body);
	font-size: var(--font-size-medium);
	line-height: $line-height;
}

@define-mixin font-size-large $line-height: var(--line-height-large) {
	font-family: var(--font-body);
	font-size: var(--font-size-large);
	line-height: $line-height;
}

@define-mixin font-size-huge $line-height: var(--line-height-huge) {
	font-family: var(--font-body);
	font-size: var(--font-size-huge);
	line-height: $line-height;
}
