{%- comment -%}
/* ============================================================================
 * Cart                                                                       #
 * ========================================================================== */
 *
 * A section for cart.
 */
{%- endcomment -%}

<div class="s-cart">
	{%- if cart.item_count > 0 -%}
		<form action="{{ routes.cart_url }}" method="post" class="s-cart__form" novalidate>
			<div class="s-cart__table">
				{%- render 'cart-table' -%}
			</div>

			<div class="s-cart__footer">
				{%- render 'cart-footer' -%}
			</div>
		</form>
	{%- else -%}

		{%- capture empty_button_label -%}
			{{ 'cart.empty.back_button' | t }}
		{%- endcapture -%}

		<div class="s-cart__empty">
			<div class="s-cart__empty-content">
				<h1 class="s-cart__empty-title">{{ 'cart.empty.message' | t }}</h1>
				<div class="s-cart__empty-button">
					{%- render 'button', label: empty_button_label, url: routes.all_products_collection_url -%}
				</div>
			</div>
		</div>
	{%- endif -%}
</div>
