{%- comment -%}
/* ============================================================================
 * Order                                                                      #
 * ========================================================================== */
 *
 * A section for order.
 */
{%- endcomment -%}

<div class="s-customer s-customer--order s-customer--table">
	<div class="s-customer__inner">
		<div class="s-customer__header">
			<div class="s-customer__content">
				<h1 class="s-customer__title">{{ 'account.titles.order' | t }} #{{ order.order_number }}</h1>

				<div class="s-customer__button">
					{%- capture button_label -%}
						{{ 'account.links.back_to_account' | t }}
					{%- endcapture -%}

					{%- render 'button', tag: 'a', label: button_label, url: routes.account_url -%}
				</div>
			</div>
		</div>

		<div class="s-customer__table-wrapper">
			<table class="c-cart-table">

				<thead class="c-cart-table__header">
					<tr>
						<th class="c-cart-table__heading c-cart-table__heading--product">{{ 'cart.label.product' | t }}</th>
						<th class="c-cart-table__heading c-cart-table__heading--quantity">{{ 'cart.label.quantity' | t }}</th>
						<th class="c-cart-table__heading c-cart-table__heading--price">{{ 'cart.label.price' | t }}</th>
						<th class="c-cart-table__heading c-cart-table__heading--total">{{ 'cart.label.total' | t }}</th>
					</tr>
				</thead>

				<tbody class="c-cart-table__body">
					{%- for item in order.line_items -%}
						<tr class="c-cart-table__item">

							<td class="c-cart-table__column c-cart-table__column--product">
								{%- if item.image != blank -%}
									<div class="c-cart-table__product">
										<div class="c-cart-table__figure">
											<a href="{{ item.url | within: collections.all }}" class="c-cart-table__image">
												{{ item | img_url: '240x240' | img_tag: item.title }}
											</a>
										</div>

										<div class="c-cart-table__product-info">
											<a href="{{ item.url }}" class="c-cart-table__product-title">{{ item.product.title }}</a>

											<div class="c-cart-table__product-properties">
												{%- unless item.product.has_only_default_variant -%}
													<p>{{ item.variant.title }}</p>
												{%- endunless -%}

												{%- assign property_size = item.properties | size -%}

												{%- if property_size > 0 -%}
													{%- for p in item.properties -%}
														{%- unless p.last == blank -%}
														{{ p.first }}:

														{%- if p.last contains '/uploads/' -%}
															<a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
														{%- else -%}
															{{ p.last }}
														{%- endif -%}

														{%- endunless -%}
													{%- endfor -%}
												{%- endif -%}
											</div>
										</div>
									</div>
								{%- endif -%}
							</td>

							<td class="c-cart-table__column c-cart-table__column--quantity">
								<div class="c-cart-table__quantity">
									{{ item.quantity }}
								</div>
							</td>

							<td class="c-cart-table__column c-cart-table__column--price">
								<div class="c-cart-table__price">
									{%- if item.original_line_price != item.line_price -%}
										<span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
										{{ item.price | money }}
										<span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
										<s>{{ item.original_price | money }}</s>
									{%- else -%}
										{{ item.price | money }}
									{%- endif -%}
								</div>
							</td>

							<td class="c-cart-table__column c-cart-table__column--total">
								<div class="c-cart-table__total">
									{{ item.line_price | money }}
								</div>
							</td>
						</tr>
					{%- endfor -%}
				</tbody>

				<tfoot class="c-cart-table__footer">
					<tr>
						<td class="c-cart-table__column">
							<span>{{ 'cart.general.shipping' | t }}</span>
						</td>

						<td class="c-cart-table__column" colspan="3">
							<span>{{ order.shipping_price | money }}</span>
						</td>
					</tr>

					<tr>
						<td class="c-cart-table__column">
							<span>{{ 'cart.general.subtotal' | t }}</span>
						</td>

						<td class="c-cart-table__column" colspan="3">
							<span>{{ order.total_price | money }}</span>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>

		<div class="s-customer__address">
			<div class="s-customer__address-items">
				<div class="s-customer__address-item">
					<h2 class="s-customer__address-title">{{ 'account.titles.billing_address' | t }}</h2>
					<ul class="s-customer__address-list">
						<li><strong>{{ 'account.addresses.payment_status' | t }}:</strong> {{ order.financial_status_label }}</li>
						{% if order.billing_address.name != blank %}
							<li>{{ order.billing_address.name }}</li>
						{% endif %}

						{% if order.billing_address.address1 != blank %}
							<li>{{ order.billing_address.address1 }}</li>
						{% endif %}

						{% if order.billing_address.address1 != blank %}
							<li>{{ order.billing_address.address1 }}</li>
						{% endif %}

						{% if order.billing_address.city != blank or order.billing_address.zip != blank %}
							<li>{{ order.billing_address.city }}{% if order.billing_address.zip != blank %} {{ order.billing_address.zip }}{% endif %}</li>
						{% endif %}

						{% if order.billing_address.country != blank %}
							<li>{{ order.billing_address.country }}</li>
						{% endif %}
					</ul>
				</div>

				<div class="s-customer__address-item">
					<h2 class="s-customer__address-title">{{ 'account.titles.shipping_address' | t }}</h2>
					<ul class="s-customer__address-list">
						<li><strong>{{ 'account.addresses.fulfillment_status' | t }}:</strong> {{ order.fulfillment_status_label }}</li>
						{% if order.shipping_address.name != blank %}
							<li>{{ order.shipping_address.name }}</li>
						{% endif %}

						{% if order.shipping_address.address1 != blank %}
							<li>{{ order.shipping_address.address1 }}</li>
						{% endif %}

						{% if order.shipping_address.address1 != blank %}
							<li>{{ order.shipping_address.address1 }}</li>
						{% endif %}

						{% if order.shipping_address.city != blank or order.shipping_address.zip != blank %}
							<li>{{ order.shipping_address.city }}{% if order.shipping_address.zip != blank %} {{ order.shipping_address.zip }}{% endif %}</li>
						{% endif %}

						{% if order.shipping_address.country != blank %}
							<li>{{ order.shipping_address.country }}</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>

	</div>
</div>

{% schema %}
{
  "name": "Order"
}
{% endschema %}
