{%- comment -%}
/* ============================================================================
 * Register                                                                   #
 * ========================================================================== */
 *
 * A section for register.
 */
{%- endcomment -%}

<div class="s-customer s-customer--register s-customer--form">
	<div class="s-customer__inner">
		<div class="s-customer__form">

			{% form 'create_customer', class: 'c-form' %}
				{% if form.errors %}
					<div class="c-form__message c-form__message--error">
						<div class="c-form__errors">
							{{ form.errors | default_errors }}
						</div>
					</div>
				{% endif %}

				<div class="c-form__fields">
					<div class="c-form__field-wrapper">
						<label class="c-form__label" for="registration-form-first-name">{{ 'account.form.first_name' | t }}*</label>
						<input
							id="registration-form-first-name"
							class="c-form__field c-form__field--input"
							autocomplete="given-name"
							type="text"
							name="customer[first_name]"
							value="{% if form.first_name %}{{ form.first_name }}{% endif %}"
							placeholder="{{ 'account.form.first_name_placeholder' | t }}"
							required
							aria-required="true"
						/>
					</div>

					<div class="c-form__field-wrapper">
						<label class="c-form__label" for="registration-form-last-name">{{ 'account.form.last_name' | t }}*</label>
						<input
							id="registration-form-last-name"
							class="c-form__field c-form__field--input"
							autocomplete="family-name"
							type="text"
							name="customer[last_name]"
							value="{% if form.last_name %}{{ form.last_name }}{% endif %}"
							placeholder="{{ 'account.form.last_name_placeholder' | t }}"
							required
							aria-required="true"
						/>
					</div>

					<div class="c-form__field-wrapper">
						<label class="c-form__label" for="registration-form-email">{{ 'account.form.email' | t }}*</label>
						<input
							id="registration-form-email"
							class="c-form__field c-form__field--input"
							autocomplete="email"
							type="email"
							name="customer[email]"
							value="{% if form.email %}{{ form.email }}{% endif %}"
							placeholder="{{ 'account.form.email_placeholder' | t }}"
							required
							aria-required="true"
						/>
					</div>

					<div class="c-form__field-wrapper">
						<label class="c-form__label" for="registration-form-password">{{ 'account.form.password' | t }}*</label>
						<input
							id="registration-form-password"
							class="c-form__field c-form__field--input"
							autocomplete="current-password"
							type="password"
							name="customer[password]"
							value="{% if form.password %}{{ form.password }}{% endif %}"
							placeholder="{{ 'account.form.password_placeholder' | t }}"
							required
							aria-required="true"
						/>
					</div>

					<div class="c-form__field-wrapper">
						<label class="c-form__label" for="registration-form-confirm-password">{{ 'account.form.confirm_password' | t }}*</label>
						<input
							id="registration-form-confirm-password"
							class="c-form__field c-form__field--input"
							autocomplete="current-password"
							type="password"
							name="customer[password_confirmation]"
							value="{% if form.confirm_password %}{{ form.confirm_password }}{% endif %}"
							placeholder="{{ 'account.form.confirm_password_placeholder' | t }}"
							required
							aria-required="true"
						/>
					</div>
				</div>

				<div class="c-form__submit">
					<div class="c-form__button">
						<button type="submit" class="c-button">{{ 'account.form.register' | t }}</button>
					</div>
				</div>

				<div class="c-form__footer">
					<a class="c-form__footer-link" href="{{ routes.account_login_url }}">{{ 'account.form.have_an_account' | t }}</a>
				</div>
			{% endform %}

		</div>
	</div>
</div>

{% schema %}
{
  "name": "Register"
}
{% endschema %}
