{%- comment -%}
/* ============================================================================
 * Login                                                                      #
 * ========================================================================== */
 *
 * A section for login.
 */
{%- endcomment -%}

<div class="s-customer s-customer--login s-customer--form">
	<div class="s-customer__inner">
		<div class="s-customer__form s-customer__form--login js-forgot-password-hide-form">

			{% form 'customer_login', class: 'c-form' %}
				{% if form.errors %}
					<div class="c-form__message c-form__message--error">
						<div class="c-form__errors">
							{{ form.errors | default_errors }}
						</div>
					</div>
				{% endif %}

				<div class="c-form__fields">
					<div class="c-form__field-wrapper">
						<label class="c-form__label" for="login-form-email">{{ 'account.form.email' | t }}*</label>
						<input
							id="login-form-email"
							class="c-form__field c-form__field--input"
							autocomplete="email"
							type="email"
							name="customer[email]"
							value="{% if form.email %}{{ form.email }}{% endif %}"
							placeholder="{{ 'account.form.email_placeholder' | t }}"
							required
							aria-required="true"
						/>
					</div>

					<div class="c-form__field-wrapper">
						<label class="c-form__label" for="login-form-password">{{ 'account.form.password' | t }}*</label>
						<input
							id="login-form-password"
							class="c-form__field c-form__field--input"
							autocomplete="current-password"
							type="password"
							name="customer[password]"
							value="{% if form.password %}{{ form.password }}{% endif %}"
							placeholder="{{ 'account.form.password_placeholder' | t }}"
							required
							aria-required="true"
						/>
					</div>
				</div>

				<div class="c-form__submit">
					<div class="c-form__button">
						<button type="submit" class="c-button">{{ 'account.form.login' | t }}</button>
					</div>
				</div>

				<div class="c-form__footer">
					<a class="c-form__footer-link" href="{{ routes.account_register_url }}">{{ 'account.form.create_account' | t }}</a>
					<button class="c-form__footer-link js-forgot-password" type="button">{{ 'account.form.forgot_password' | t }}</button>
				</div>
			{% endform %}

		</div>

		<div class="s-customer__form s-customer__form--recover-password js-forgot-password-form is-hidden">
			{% form 'recover_customer_password', class: 'c-form' %}
				<div class="c-form__fields">
					<div class="c-form__field-wrapper">
						<label class="c-form__label" for="recover-password-email">{{ 'account.form.email' | t }}*</label>
						<input
							id="recover-password-email"
							class="c-form__field c-form__field--input"
							autocomplete="email"
							type="email"
							name="email"
							value="{% if form.email %}{{ form.email }}{% endif %}"
							placeholder="{{ 'account.form.email_placeholder' | t }}"
							required
							aria-required="true"
						/>
					</div>
				</div>

				<div class="c-form__submit">
					<div class="c-form__button">
						<button type="submit" class="c-button">{{ 'account.form.send' | t }}</button>
					</div>
				</div>

				<div class="c-form__footer">
					<button class="c-form__footer-link js-forgot-password" type="button">{{ 'account.form.login' | t }}</button>
				</div>
			{% endform %}
		</div>
	</div>
</div>

{% schema %}
{
  "name": "Login"
}
{% endschema %}
