{%- comment -%}
/* ============================================================================
 * Reset Password                                                             #
 * ========================================================================== */
 *
 * A section for reset password.
 */
{%- endcomment -%}

<div class="s-customer s-customer--reset-password s-customer--form">
	<div class="s-customer__inner">
		<div class="s-customer__form">

			{% form 'reset_customer_password', class: 'c-form' %}
				{% if form.errors %}
					<div class="c-form__message c-form__message--error">
						<div class="c-form__errors">
							{{ form.errors | default_errors }}
						</div>
					</div>
				{% endif %}

				<div class="c-form__fields">
					<div class="c-form__field-wrapper">
						<label class="c-form__label" for="reset-password-form-password">{{ 'account.form.password' | t }}*</label>
						<input
							id="reset-password-form-password"
							class="c-form__field c-form__field--input"
							autocomplete="current-password"
							type="password"
							name="customer[password]"
							value="{% if form.password %}{{ form.password }}{% endif %}"
							placeholder="{{ 'account.form.password_placeholder' | t }}"
							required
							aria-required="true"
						/>
					</div>

					<div class="c-form__field-wrapper">
						<label class="c-form__label" for="reset-password-form-confirm-password">{{ 'account.form.confirm_password' | t }}*</label>
						<input
							id="reset-password-form-confirm-password"
							class="c-form__field c-form__field--input"
							autocomplete="new-password"
							type="password"
							name="customer[password_confirmation]"
							value="{% if form.confirm_password %}{{ form.confirm_password }}{% endif %}"
							placeholder="{{ 'account.form.confirm_password_placeholder' | t }}"
							required
							aria-required="true"
						/>
					</div>
				</div>

				<div class="c-form__submit">
					<div class="c-form__button">
						<button type="submit" class="c-button">{{ 'account.form.reset_password' | t }}</button>
					</div>
				</div>
			{% endform %}

		</div>
	</div>
</div>

{% schema %}
{
  "name": "Reset Password"
}
{% endschema %}
