{%- comment -%}
/* ============================================================================
 * Addresses                                                                  #
 * ========================================================================== */
 *
 * A section for addresses.
 */
{%- endcomment -%}

<div class="s-customer s-customer--addresses">
	<div class="s-customer__inner">
		<div class="s-customer__header">
			<div class="s-customer__content">
				<h1 class="s-customer__title">{{ 'account.titles.address' | t }}</h1>

				<div class="s-customer__button">
					{%- capture button_label -%}
						{{ 'account.links.back_to_account' | t }}
					{%- endcapture -%}

					{%- render 'button', tag: 'a', label: button_label, url: routes.account_url -%}
				</div>
			</div>
		</div>

		{% for address in customer.addresses %}
			{% if forloop.index0 == 0 %}
				<div class="s-customer__form">
					{% form 'customer_address', address, class: 'c-form' %}

						{% if form.errors %}
							<div class="c-form__message c-form__message--error">
								<ul class="c-form__errors">
									{% for error in form.errors %}
										<li>
											<a href="#address-form-{{ error }}">
												{{ error }}
											</a>
										</li>
									{% endfor %}
								</ul>
							</div>
						{% endif %}

						<div class="c-form__fields">
							<div class="c-form__field-wrapper">
								<label class="c-form__label" for="address-form-first-name">{{ 'account.form.first_name' | t }}</label>
								<input
									id="address-form-first-name"
									class="c-form__field c-form__field--input"
									autocomplete="given-name"
									type="text"
									name="address[first_name]"
									value="{% if form.first_name %}{{ form.first_name }}{% endif %}"
									placeholder="{{ 'account.form.first_name_placeholder' | t }}"
									required
									aria-required="true"
								/>
							</div>

							<div class="c-form__field-wrapper">
								<label class="c-form__label" for="address-form-last-name">{{ 'account.form.last_name' | t }}</label>
								<input
									id="address-form-last-name"
									class="c-form__field c-form__field--input"
									autocomplete="family-name"
									type="text"
									name="address[last_name]"
									value="{% if form.last_name %}{{ form.last_name }}{% endif %}"
									placeholder="{{ 'account.form.last_name_placeholder' | t }}"
									required
									aria-required="true"
								/>
							</div>

							<div class="c-form__field-wrapper">
								<label class="c-form__label" for="address-form-company">{{ 'account.form.company' | t }}</label>
								<input
									id="address-form-company"
									class="c-form__field c-form__field--input"
									autocomplete="organization"
									type="text"
									name="address[company]"
									value="{% if form.company %}{{ form.company }}{% endif %}"
									placeholder="{{ 'account.form.company_placeholder' | t }}"
									required
									aria-required="true"
								/>
							</div>

							<div class="c-form__field-wrapper">
								<label class="c-form__label" for="address-form-address-1">{{ 'account.form.address_1' | t }}</label>
								<input
									id="address-form-address-1"
									class="c-form__field c-form__field--input"
									autocomplete="address-line1"
									type="text"
									name="address[address1]"
									value="{% if form.address1 %}{{ form.address1 }}{% endif %}"
									placeholder="{{ 'account.form.address_1_placeholder' | t }}"
									required
									aria-required="true"
								/>
							</div>

							<div class="c-form__field-wrapper">
								<label class="c-form__label" for="address-form-address-2">{{ 'account.form.address_2' | t }}</label>
								<input
									id="address-form-address-2"
									class="c-form__field c-form__field--input"
									autocomplete="address-line2"
									type="text"
									name="address[address2]"
									value="{% if form.address2 %}{{ form.address2 }}{% endif %}"
									placeholder="{{ 'account.form.address_2_placeholder' | t }}"
									required
									aria-required="true"
								/>
							</div>

							<div class="c-form__field-wrapper">
								<label class="c-form__label" for="address-form-city">{{ 'account.form.city' | t }}</label>
								<input
									id="address-form-city"
									class="c-form__field c-form__field--input"
									type="text"
									name="address[city]"
									value="{% if form.city %}{{ form.city }}{% endif %}"
									placeholder="{{ 'account.form.city_placeholder' | t }}"
									required
									aria-required="true"
								/>
							</div>

							<div class="c-form__field-wrapper">
								<label class="c-form__label" for="address-form-country">{{ 'account.form.country' | t }}</label>

								<select
									class="c-selector c-form__field js-country-select"
									id="address-form-country"
									autocomplete="country"
									name="address[country]"
								>
									{{ all_country_option_tags }}
								</select>
							</div>

							<div class="c-form__field-wrapper">
								<label class="c-form__label" for="address-form-zip-code">{{ 'account.form.zip_code' | t }}</label>
								<input
									id="address-form-zip-code"
									class="c-form__field c-form__field--input"
									autocomplete="postal-code"
									type="text"
									name="address[zip_code]"
									value="{% if form.zip %}{{ form.zip }}{% endif %}"
									placeholder="{{ 'account.form.zip_code_placeholder' | t }}"
									required
									aria-required="true"
								/>
							</div>

							<div class="c-form__field-wrapper">
								<label class="c-form__label" for="address-form-phone">{{ 'account.form.phone' | t }}</label>
								<input
									id="address-form-phone"
									class="c-form__field c-form__field--input"
									autocomplete="tel"
									type="text"
									name="address[phone]"
									value="{% if form.phone %}{{ form.phone }}{% endif %}"
									placeholder="{{ 'account.form.phone_placeholder' | t }}"
									required
									aria-required="true"
								/>
							</div>
						</div>

						<div class="c-form__submit">
							<div class="c-form__button">
								<button type="submit" class="c-button">{{ 'account.form.update' | t }}</button>
							</div>
						</div>
					{% endform %}
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>

{% schema %}
{
  "name": "Addresses"
}
{% endschema %}
