{%- comment -%}
/* ============================================================================
 * Account                                                                    #
 * ========================================================================== */
 *
 * A section for account.
 */
{%- endcomment -%}

{%- assign delay = 1 -%}

<div class="s-customer s-customer--account s-customer--table">
	<div class="s-customer__inner">
		<div class="s-customer__header">
			<div class="s-customer__content">
				<h1 class="s-customer__title">{{ 'account.titles.account' | t }}</h1>

				<div class="s-customer__button">
					{%- capture button_label -%}
						{{ 'account.links.logout' | t }}
					{%- endcapture -%}

					{%- render 'button', tag: 'a', label: button_label, url: routes.account_logout_url -%}
				</div>
			</div>
		</div>

		<div class="s-customer__section-header">
			<div class="s-customer__section-header-inner">
				<h2 class="s-customer__section-title">{{ 'account.titles.orders' | t }}</h2>
			</div>
		</div>

		{%- if customer.orders.size > 0 -%}
			<div class="s-customer__table-wrapper">
				<table class="c-cart-table c-cart-table--account">

					<thead class="c-cart-table__header">
						<tr>
							<th class="c-cart-table__heading c-cart-table__heading--order">{{ 'account.table.order' | t }}</th>
							<th class="c-cart-table__heading c-cart-table__heading--date">{{ 'account.table.date' | t }}</th>
							<th class="c-cart-table__heading c-cart-table__heading--payment">{{ 'account.table.payment_status' | t }}</th>
							<th class="c-cart-table__heading c-cart-table__heading--fullfillment">{{ 'account.table.fulfillment_status' | t }}</th>
							<th class="c-cart-table__heading c-cart-table__heading--total">{{ 'account.table.total' | t }}</th>
						</tr>
					</thead>

					<tbody class="c-cart-table__body">
						{%- for item in customer.orders -%}
							<tr class="c-cart-table__item">
								<td class="c-cart-table__column">
									<a class="c-cart-table__order-number s-customer__link" href="{{ item.customer_url }}">#{{ item.order_number }}</a>
								</td>

								<td class="c-cart-table__column">
									<div class="c-cart-table__order-date">{{ item.created_at | date: "%-d %B %Y" }}</div>
								</td>

								<td class="c-cart-table__column">
									<div class="c-cart-table__order-payment-status">{{ item.financial_status_label }}</div>
								</td>

								<td class="c-cart-table__column">
									<div class="c-cart-table__order-fulfillment-status">{{ item.fulfillment_status_label }}</div>
								</td>

								<td class="c-cart-table__column c-cart-table__column--total">
									<div class="c-cart-table__order-total-price">{{ item.total_price | money }}</div>
								</td>
							</tr>
						{%- endfor -%}
					</tbody>

				</table>
			</div>
		{%- endif -%}

		<div class="s-customer__section-header">
			<div class="s-customer__section-header-inner">
				<h2 class="s-customer__section-title">{{ 'account.titles.address' | t }}</h2>
			</div>
		</div>

		<div class="s-customer__address">
			<div class="s-customer__address-items">
				<div class="s-customer__address-item">
					<ul class="s-customer__address-list">
						{% if customer.default_address.name != blank %}
							<li>{{ customer.default_address.name }}</li>
						{% endif %}

						{% if customer.default_address.address1 != blank %}
							<li>{{ customer.default_address.address1 }}</li>
						{% endif %}

						{% if customer.default_address.address1 != blank %}
							<li>{{ customer.default_address.address1 }}</li>
						{% endif %}

						{% if customer.default_address.city != blank or customer.default_address.zip != blank %}
							<li>{{ customer.default_address.city }}{% if customer.default_address.zip != blank %} {{ customer.default_address.zip }}{% endif %}</li>
						{% endif %}

						{% if customer.default_address.country != blank %}
							<li>{{ customer.default_address.country }}</li>
						{% endif %}
					</ul>
				</div>
			</div>

			<div class="s-customer-address-button">
				{%- capture button_label -%}
					{{ 'account.links.edit_details' | t }}
				{%- endcapture -%}

				{%- render 'button', tag: 'a', label: button_label, url: routes.account_addresses_url -%}
			</div>
		</div>
	</div>
</div>

{% schema %}
{
  "name": "Account"
}
{% endschema %}
