{%- comment -%}
/* ============================================================================
 * Example                                                                    #
 * ========================================================================== */
 *
 * A section for example.
 */
{%- endcomment -%}

{% include 'button' label: 'Read more', url: '#' %}

{% schema %}
{
  "name": "Example",
  "settings": [
    {
      "label": "Title",
      "id": "title",
      "type": "text",
      "info": "Enter a title"
    }
  ],
  "blocks": [
    {
      "name": "Text",
      "type": "text",
      "settings": [
        {
          "label": "Text",
          "id": "text",
          "type": "text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Example",
      "settings": {
        "title": "Title"
      },
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
