/* =============================================================================
 # Box-sizing                                                                 #
============================================================================= */

html {
	box-sizing: border-box;
}

/**
 * Inherit box-sizing to make it easier to change the property
 * for components that leverage other behavior.
 */
*,
*::before,
*::after {
	box-sizing: inherit;
}
