/* =============================================================================
 # Buttons                                                                    #
============================================================================= */

button,
input[type="submit"] {
	-webkit-appearance: none;
	background: transparent;
	border: 0;
	cursor: pointer;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	text-transform: inherit;
	vertical-align: baseline;
	width: auto;
}
