/* =============================================================================
 # Links                                                                      #
============================================================================= */

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;

	&:hover,
	&:focus {
		/* opacity: .6; */
		text-decoration: underline;
	}
}
