/* =============================================================================
 # Generic                                                                    #
============================================================================= */

::selection {
	background: blue;
	color: #fff;
}

img::selection {
	background: blue;
}

/* stylelint-disable */
/**
 * Make anchor-links smooth scrolling in modern browsers
 *
 * @credit https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior#Browser_compatibility
 */
/* stylelint-enable */
html {
	/**
	 * Also, set default background color for html
	 * (https://martinwolf.org/2018/06/osx-mojave-dark-mode)
	 */
	background-color: white;
	scroll-behavior: smooth;
}
