{%- comment -%}
/* ============================================================================
 * PLACEHOLDER_TITLE
 * ========================================================================== */
 *
 * A section for PLACEHOLDER_SLUG.
 */
{%- endcomment -%}

<div class="s-PLACEHOLDER_SLUG">

</div>

{% schema %}
{
  "name": "PLACEHOLDER_SECTION_TITLE",
  "settings": [
    {
      "label": "Title",
      "id": "title",
      "type": "text",
      "info": "Enter a title"
    },
  ],
  "presets": [
    {
      "name": "PLACEHOLDER_SECTION_TITLE"
    }
  ]
}
{% endschema %}
