{%- comment -%}
/* ============================================================================
 * PLACEHOLDER_TITLE
 * ========================================================================== */
 *
 * A component for PLACEHOLDER_SLUG.
 *
 * Accepts:
 * - name: {String} The argument-description.
 *
 * Usage:
 * - {%- render 'PLACEHOLDER_SLUG', name: [name] -%}
 */
{%- endcomment -%}

<div class="c-PLACEHOLDER_SLUG">

</div>
