/* =============================================================================
 # 404                                                                        #
============================================================================= */

.p-404 {
	@mixin container;
	align-items: center;
	box-sizing: border-box;
	display: flex;
	min-height: 100vmin;
	padding-bottom: calc(var(--baseline-unit) * 20);
	padding-top: calc(var(--baseline-unit) * 20);
	text-align: center;
}

.p-404__inner {
	margin-left: auto;
	margin-right: auto;
	max-width: 25rem;
}

.p-404__number {
	font-size: 7rem;
	padding-bottom: var(--gap-micro);
}

.p-404__title {
	font-size: var(--font-size-medium);
	line-height: var(--line-height-medium);
	padding-bottom: var(--gap-micro);
}

.p-404__content {
	font-size: var(--font-size-tiny);
	line-height: var(--line-height-tiny);
	max-width: 20rem;
	padding-bottom: var(--gap-tiny);
}
